div {
   
   border-style: solid;
   border-color: rgb(246, 246, 248); 
}

#contenedor1 {
    border-style: solid; 
}

#titulo {
    background-color:rgb(62, 173, 86);
    height: 50px;
    text-decoration: black;
    text-align: center;
    
}

#colroja {
    background-color:rgb(212, 71, 52);
}

#lcolrosa {
    background-color:rgb(194, 136, 199);
    height: 50px;
}

#naranja1 {
    background-color:rgb(197, 132, 12);
    height: 120px;
    
}

#azul {
    background-color:rgb(12, 61, 197);
    color: rgb(243, 243, 16);
    text-align: center;
    height: 120px;
    
}
#gris {
    background-color:rgb(131, 131, 119);
    text-align: center;
    height: 120px;
    
}
#desktop {
    background-color:rgb(51, 150, 175);
    height: 50px;
    text-align: center;
}

#footer {
    background-color:rgb(62, 173, 86);
    height: 50px;
    text-align: center;
}